#
# OpenSSH Server Configuration for Web Base Image
#

Port 22

# Authentication
PermitRootLogin yes
PasswordAuthentication yes

# Use PAM to authorize users
UsePAM yes

# SFTP Subsystem
Subsystem sftp /usr/lib/openssh/sftp-server
